<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="menu">

	
	<sql id="whereInfo">
		<if test="region != null and region != ''">
		  AND A.BOARD_CONTENT LIKE CONCAT('%',#{boardContent},'%')
		</if>
	</sql>
	
	<select id="menuList" resultType="map" parameterType="map">
		SELECT LEVEL, A.MENU_CD ,A.MENU_NM , A.MENU_URL, A.MENU_SUMMARY ,A.MENU_SORT ,A.MENU_PARENT ,A.MENU_HTTP_URL,A.MENU_AUTHO
		FROM TB_ST_MENU A
		WHERE 1=1
		<include refid="whereInfo" />
		START WITH A.MENU_PARENT IS NULL
		CONNECT BY PRIOR A.MENU_CD = A.MENU_PARENT
	</select>
	
</mapper>