@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
*{font-family: 'Noto Sans KR';}

html{  position: relative;    min-height: 100%;    margin: 0;}
body{  min-height: 100%;}
#app {  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;  text-align: center;  color: #2c3e50;}

/* -----------------------------------버튼 css -----------------------------------*/
input[type='button']{
  padding: 12px 25px 12px 25px;
  border-radius: 20px;
  margin: 8px;
  outline: none;
  font-size: 10px;
  font-weight: bold;
  border-width: 0;
  color:blue;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: all 0.2s;
}
input[type='button']:hover{
  opacity: 0.7;
  cursor: pointer;
}

button.main_button{
  background-color: #4b96e6;
  color: white;
  outline: none;
  font-size: 11px;
  font-weight: 400;
  border: 0;
  padding: 8px 14px 8px 14px;
  border-radius: 7px;
  transition: all 0.2s;
}
button.main_button:hover{
opacity: 0.8;
}


/* -----------------------------------일반 텍스트 인풋--------------------------------- */
.form-input{
    border-radius: 5px;
    border-color: grey;
    outline: none;
    border-width: 1px;
    height: 25px;
    margin: 2px 5px 2px 5px;
    width: 80%;
    font-size: 11px;
    font-weight: bold;
    padding-left: 13px;
}
/* -----------------------------------화면 메인 container ----------------------------------- */
.content-area{
    padding-top: 20px;
    padding-bottom:20px;
    max-width: 900px;
    text-align: center;
    margin:0 auto;
    position: relative;
}